<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
	
<link href="static/styles/cssandjs/main.css" th:href="@{/styles/cssandjs/main.css}" rel="stylesheet">

<style>
form{
position:absolute;
right:2rem;
top:0.8rem;
}
.linkButton {
	text-align: center;
	color: blue;
	width: 15rem;
	height: 3rem;
	border: 2px solid blue;
	border-radius: 20%;
	background-color: #ff0;
}

#link {
	transform: translateY(40px);
	text-decoration: none;
}
.logout{
position:absolute;
right:2rem;
top:0.8rem;
}
#logout{
color:blue;
width:10rem;
height:3rem;
border:2px solid blue;
border-radius:20%;
background-color:#ff0;
}
</style>
<title>Server Programming</title>
</head>
<body>

<!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> -->



<!-- <form action="#" th:action="@{/logout}" method="post"> -->
		
<!-- 		<p> -->
<!-- 			<input  type="submit" value="Logout" /> -->
<!-- 		</p> -->
<!-- 	</form> -->
<!-- <hr> -->

	<div class="container">
		<h2>Tournament Results </h2>
		
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th th:text="No"></th>
					<th>TourResult Id</th>
					<th>Tour Id</th>
					<th >Player Id</th>					
					<th th:text="Score"></th>
					<th th:text="Action"></th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="tsl,iterStat:${tourResults}">
					<td th:text="${iterStat.index+1}" />
					<td th:text="${tsl.id}" />
					<td th:text="${tsl.tourid}" />
					<td th:text="${tsl.player_id}" />					
					<td th:text="${tsl.score}" />
					<td>
						 <a class="btn btn-success" th:href="@{/tour/result/edit/{id}(id=${tsl.id})}">Edit</a>
						 <a	class="btn btn-danger" th:href="@{/tour/result/delete/{id}(id=${tsl.id})}"
						 	sec:authorize="hasAuthority('ADMIN')"> Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br> 
		<div class="linkButton" >
			<a class="link" th:href="@{/tour/list}">Back to Tournament Lists</a>
		</div>
		
	</div>
	
<form class="logout" action="#" th:action="@{/logout}" method="post">
		
		<p>
			<input id="logout" type="submit" value="Logout" />
		</p>
	</form>
</body>
</html>